/* breakpoints */
$laptop:					1600px;
$bootstrap_xlg:				1281px;
$bootstrap_lg:				1199px;
$bootstrap_md:				 991px;
$bootstrap_sm: 		 		 767px;
$bootstrap_xs:		 		 575px;
$bootstrap_xxs:				 440px;

/* colors */
$colorText: 				#6f6f6f;
$colorWhite:				#ffffff;
$colorBlack:				#000000;


/* z-index levels */
$zindex_background:	 	10;
$zindex_anim_elem:		50;
$zindex_content:		100;
$zindex_sticky:			200;
$zindex_overlay:		300;

/* animation durations */
$hover_light: 0.2s;
$hover_medium: 0.6s;


/* ================= MIXINS ================= */
@mixin pseudoElement() {
	display:block;
	content: ' ';
}

@mixin fontLato {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
