footer {
  float: right!important;
  display: block;
  border-top: 1px solid #999999;

  .right_reserved {
    float: left;
    padding-top: 23px;

    img {
      margin-right: 10px;
      float: left;
    }
    p {
      @include fontLato();
      color: #9c9999;
      font-size: 0.75em;
      float: left;
      padding-top: 5px;
    }
  }
  .social_buttons {
    padding-top: 26px;
    padding-bottom: 22px;
    float: right;
    ul {
      li {
        list-style: none;
        display: inline-block;
        margin-right: 10px;

        a {
          text-decoration: none;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}