.slider {
  //padding-left: 0;
  //padding-right: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.swiper-wrapper {
  box-sizing: content-box;
  @include display-flex;
  //height: 100%;
  position: relative;
  @include transition-property(transform);
  //width: 100%;
  z-index: 1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  @include display-flex;
  @include justify-content(center);
  //height: 100%;
  flex-shrink: 0;
  position: relative;
  //max-height: 420px;

  img {
    width: 100%;
    height: auto;
    max-height: 420px;
  }
}

.swiper-pagination {
  position: static;
  text-align: center;
  transform: translate3d(0px, 0px, 0px);
  transition: all 0.3s ease 0s;
  left: 0;
  width: 100%;
  margin-top: 15px;
}

.swiper-pagination-bullet {
  margin: 0 5px;
  cursor: pointer;
  background: $colorWhite;
  display: inline-block;
  height: 9px;
  width: 28px;
  border-top: 1px solid $colorBlack;

  &.swiper-pagination-bullet-active {
    border-top: 1px solid $colorText;
  }
}

.swiper-button-next {
  background-image: url("../images/arrow-next.png");
  right: -1px;
}

.swiper-button-prev {
  background-image: url("../images/arrow-prev.png");
  right: 38px;
}

.swiper-button-next, .swiper-button-prev {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $colorBlack;
  background-size: 7px 13px;
  cursor: pointer;
  height: 38px;
  margin-top: -22px;
  position: absolute;
  bottom: 0;
  width: 38px;
  z-index: 10;
}

.swiper-button-next.swiper-button-disabled {
  cursor: auto;
  pointer-events: none;
  background-image: url("../images/arrow-next-disabled.png");
  background-color: $colorWhite;

}
.swiper-button-prev.swiper-button-disabled {
  cursor: auto;
  pointer-events: none;
  background-image: url("../images/arrow-prev-disabled.png");
  background-color: $colorWhite;
}

.detail-slider {

  .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .gallery-top {
    height: 80%;
    width: 100%;
  }
  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }

}